<div class="mt-5">
  &nbsp;
</div>
<%= form_with(model: doc_template) do |form| %>
  <% if doc_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doc_template.errors.count, "error") %> prohibited this doc_template from being saved:</h2>

      <ul>
        <% doc_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mt-2">
    <div class="col-sm-3">
      <%=form.label :name %>
    </div>
    <div class="col-sm-5">
      <%=form.text_field :name %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3">
      <%= form.label :variable_hash, "Variable Defaults:" %>
    </div>
    <div class="col-sm-7">
      <%=form.text_area :variable_hash, rows: 5, colums: 80 %>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-3">
      <%=form.label :document_template, "Template File" %>
    </div>
    <div class="col-sm-7">
      <%= form.file_field :document_template %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
