%main
  .row.mt-5
    - if notice
      %p#notice= notice
  .row.mt-5
    .col-sm-10
      %span.fw-bold
        Name:
      = @doc_template.name
  .row
    .col-sm-10
      %span.fw-bold
        Body Text:
      -if @doc_template.body.nil?
      -else
        =  "#{@doc_template.body[0..256]} "+"#{@doc_template.body.length > 256 ? "..." : ""}"
  .row
    %span.fw-bold
      Default Variables:
      \#{@doc_template.variable_hash}
  .row
    .col-sm-10
      %span.label.fw-bold
        Attachment:
      = @doc_template.document_template.attached? ? @doc_template.document_template.filename.to_s : ""
  = link_to 'Edit', edit_doc_template_path(@doc_template), class: "btn btn-sm btn-primary"
  |
  \#{link_to 'Back', doc_templates_path, class: "btn btn-sm btn-secondary"}
