
<main>
  <div class="row mt-5">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
  </div>




  <div class="row mt-5">
    <div class="col-sm-10">
      <span class="fw-bold">
        Name:
      </span>
      <%=@doc_template.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
     <span class="label fw-bold">
      Attachment:
    </span>
      <%= @doc_template.document_template.attached? ? @doc_template.document_template.filename.to_s : "" %>
    </div>
  </div>

  <%= link_to 'Edit', edit_doc_template_path(@doc_template) %> |
  <%= link_to 'Back', doc_templates_path %>
</main>
