- if notice
  .row.mt-5
    .col-sm-1
    .col-sm-11
      %p#notice= notice
%main.col-12.col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content.mt-lg-5
  .row.mt-2
    .col-sm-1
    .col-sm-11
      %h1 Employment Types
  .row
    .col-sm-1
    .col-sm-11
      %table{:style => "margin-left: 1em; margin-top: 2em;"}
        %col{:style => "width: 30%"}/
        %col{:style => "width: 25%"}/
        %col{:style => "width: 15%"}/
        %col{:style => "width: 15%"}/
        %col{:style => "width: 15%"}/
        %thead
          %tr
            %th Name
            %th Salary
            %th{:colspan => "3"}
        %tbody
          - @employment_types.each do |employment_type|
            %tr
              %td= employment_type.name
              %td= employment_type.salary
              %td= link_to 'Show', employment_type
              %td= link_to 'Edit', edit_employment_type_path(employment_type)
              %td= link_to 'Destroy', employment_type, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  .row
    .col-sm-1
    .col-sm-11
      = link_to 'New Employment Type', new_employment_type_path
