%p#notice= notice
%h1 Letters
%table
  %col{:style => "width: 35%"}/
  %col{:style => "width: 35%"}/
  %col{:style => "width: 5%"}/
  %col{:style => "width: 5%"}/
  %col{:style => "width: 5%"}/
  %col{:style => "width: 5%"}/
  %thead
    %tr
      Name
    %tr
      Template
    %tr
      %th{:colspan => "4"}
  %tbody
    - @letters.each do |letter|
      %tr
        %td= letter.request.name
        %td= letter.doc_template.name
        %td= link_to 'Show', letter, class: "btn btn-sm btn-primary"
        %td= link_to 'Generate', generate_letter_path(letter), class: "btn btn-sm btn-primary"
        %td= link_to 'Edit', edit_letter_path(letter), class: "btn btn-sm btn-warning"
        %td= link_to 'Destroy', letter, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?' }
%br/
.row
  .col-sm-1
  .col-sm-3
    = link_to 'New Letter', new_letter_path, class: "btn btn-sm btn-primary"
